#editor1 {

    width:930px;
    height:630px;
    text-align:left;
    font-size:14px;
    border-color:#8F908A;
    border-style: solid;
    border-width: 1px;
}

#console1 {

    width:800px;
    height:200px;
    text-align:left;
    font-size:14px;
    border-color:#8F908A;
    border-style: solid;
    border-width: 1px;
}

.ace_cursor {

    border:none;
}
#editor2 {

    width:930px;
    height:630px;
    text-align:left;
    font-size:12px;
    border-color:#8F908A;
    border-style: solid;
    border-width: 1px;
}

#console2 {

    width:930px;
    height:200px;
    text-align:left;
    font-size:14px;
    border-color:#8F908A;
    border-style: solid;
    border-width: 1px;
}

#content { 
		margin: 50px auto 0px auto; padding: 25px 25px 15px 25px;
		width: 800px; min-width: 300px; overflow: auto;
		border-left: 1px solid #444; border-top: 1px solid #444; 
		border-right: 1px solid #333; border-bottom: 1px solid #333;
		background-color: #3d3d3d;
}
	canvas { 
		display: block; 
		outline: 0px; 
		margin-bottom: 1.5em; 
	}
